@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #1a1a1a;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #1a1a1a;
  font-family: "Basic Sans", sans-serif;
}

.serif {
  font-family: "bigmoore", serif;
  font-weight: 400;
  font-style: normal;
}

.sans-serif {
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Moore", serif;
}

p {
  font-family: "bigmoore", serif;
}

.masonry-item {
  @apply w-1/2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
